[Desktop Entry]
Type=Application
Name=R-load
Comment=Load data file in R
Exec=r-load %f
Terminal=true
MimeType=application/x-rdata;application/x-rds;text/csv;
NoDisplay=true
StartupNotify=false
